@import "tailwindcss";

.hero-bg {
  background: linear-gradient(
    215.58deg,
    rgba(253, 237, 229, 0.25) 22.266%,
    rgba(254, 140, 79, 0.1) 51.213%,
    rgba(254, 140, 79, 0.25) 79.161%
  );
}
.font-rancho {
  font-family: var(--font-rancho);
}
.font-rancho {
  font-family: var(--font-lobsterTwo);
}

